html,body,ul,li,a{
    margin:0px;
    padding:0px;
}
body{
    background-image: url("./images/nav2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;              
}
ul{
background-color:rgba(22,35,88,0.4);    
    width:100%;
    text-align: center;
    position: fixed;
    top:0px;
    padding:1%;
    font-size: 1.5em;
}

li{
    display: inline-block;
    margin:0.8% 1%;
    text-align: center;
    width:13%;
    min-width:90px;

}
a{
    border: 1px solid black;
     background-image: url("./images/white.jpg");
    background-repeat: no-repeat;
    background-size:cover;  
    text-decoration: none;
    display: block;
    padding-top:8%;
    padding-bottom:8%;
    border-radius: 20%;
    color:black;
}
.hide-contant{
    display: none;
}
li:hover .hide-contant {
    display: block;
    position:absolute;
    width:13%;
    min-width: 90px;
    padding-top:1em;
    padding-right:0em;
    padding-bottom:1em;
    padding-left:0em;
    background-image: url("./images/a.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50%;
}
li:hover a {
    border-radius: 20%;
}
.para{
    width:80%;
    text-align: justify;
    margin: 8% auto;
    background-image: url("./images/para.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding:1% 1% 0.5% 1%;
    box-shadow: -10px 10px 9px black;
    border-radius:20px;
}
a:hover{
     background-image: url("./images/a2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
strong{
    display: block;
    text-align: center;
    margin-left:40%;
    margin-top:1%;
        padding:0.25%;
        width: 20%;
    min-width: 100px;
}
strong:hover{
        box-shadow: -8px 8px 20px black;
        border-radius: 20%;
            min-width: 100px;
        padding:0.25%;
        width: 20%;
}