body,li{
    margin: 0px;
    padding:0px;
    background-color:gray;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    display: block;
    padding:5%;
    color:blanchedalmond;
    text-decoration: none;
}
li{
    display: inline-block;
    margin: 1%;
   background-color:rgba(120,120,210,0.5);
    min-width: 95px;
    border-top-left-radius: 20px;
    color:black;
    width: 13%;
    

}
ul{
    background-color:rgba(12,12,21,0.8);
    top: 0.5%;
    padding: 0em;
    font-size: 1.5em;   
    width:100%;
    position: fixed;
    text-align: center;
     box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2)
}

.dropdown-content{
      display: none;    
    position: absolute;
    background-image: url("background.jpg");
      border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 5%;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color:rgba(120,120,210,0.5);
                    border-left: 4px solid gray;
                     border-right: 4px solid gray;
}
.drop:hover .dropdown-content {
    display: block;
    width: 13%;
        min-width: 95px;
}
div a:last-child{
      border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
li:hover,ul:hover{
      box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2)
}
div p{
    width:80%;
    background-color:rgba(12,210,250,0.5);
    padding:1% 1% 0.5% 1%;
     border-radius: 20px; 
      box-shadow: -9px 9px 20px black; 
      text-align: justify;
      font-size:17px;
      margin-top:9%;
      margin-left:8%;
      margin-bottom: 2%;
       
}
strong{
    display: block;
    text-align: center;
    margin-left:40%;
    margin-top:1%;
    padding:0.25%;
    min-width:130px;
    background-color:rgba(122,22,222,0.2);
            width: 20%;
}
strong:hover{
        box-shadow: -8px 8px 40px black;
        min-width: 130px;
        padding:0.25%;
        width: 20%;
}